{% comment %} 传入的参数是 content_result {% endcomment %}
{% comment %} definition(content_result) {% endcomment %}

<!-- 定义h1~h6
将 <h1>text</h1> 改成 <h1><span>text</span></h1> 形式，方便进行css优化 -->
{% for index in (1..6) %}
  {% assign replace_start = '<h' | append: index %}
  {% assign replace_end = '</h' | append: index | append: '>' %}
  {% assign replace_start_to = replace_start | append: '><span ' %}
  {% assign replace_end_to = '</span></h' | append: index | append: '>' %}
  {% assign content_result = content_result | replace: replace_start, replace_start_to %}
  {% assign content_result = content_result | replace: replace_end, replace_end_to %}
{% endfor %}